[Unit]
Description=Static route for 10.255.255.240/28
After=network-online.target
Wants=network-on

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'sleep 15s && /usr/sbin/ip route add 10.255.255.240/28 via 10.101.10.1 dev enp2s0 && /usr/sbin/ip route add 10.102.2.0/24 via 10.101.10.1 dev enp2s0'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
