[Unit]
Description=Discord Bot Boot
DefaultDependencies=no

After=network-online.target
Requires=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'sh /home/arthur/discord/discord_bot.sh booted'

[Install]
WantedBy=multi-user.target
