# Automaticaly generated, dont edit manually.
# Generated on: 2022-02-07 20:12
global
	maxconn			1000
	stats socket /tmp/haproxy.socket level admin  expose-fd listeners
	uid			80
	gid			80
	nbproc			1
	nbthread			1
	hard-stop-after		15m
	chroot				/tmp/haproxy_chroot
	daemon
	tune.ssl.default-dh-param	2048
	server-state-file /tmp/haproxy_server_state

frontend k3s
	bind			10.0.0.100:80 name 10.0.0.100:80   
	bind			10.0.0.100:443 name 10.0.0.100:443   
	mode			tcp
	log			global
	timeout client		30000
	default_backend k3s_ipvANY

frontend k3s-api
	bind			10.0.0.100:6443 name 10.0.0.100:6443   
	mode			tcp
	log			global
	timeout client		30000
	default_backend k3s-api_ipvANY

frontend k3s-gitlab-registry
	bind			10.0.0.100:5050 name 10.0.0.100:5050   
	mode			tcp
	log			global
	timeout client		30000
	default_backend k3s-gitlab-registry_ipvANY

backend k3s_ipvANY
	mode			tcp
	id			100
	log			global
	balance			roundrobin
	timeout connect		30000
	timeout server		30000
	retries			3
	option			httpchk OPTIONS /ping 
	server			k3s-server-1 10.0.0.5:80 id 101 check inter 1000  send-proxy-v2
	server			k3s-server-2 10.0.0.102:80 id 102 check inter 1000  send-proxy-v2
	server			k3s-server-3 10.0.0.103:80 id 103 check inter 1000  send-proxy-v2
	server			k3s-worker-1 10.0.0.111:80 id 106 check inter 1000  send-proxy-v2
	server			k3s-worker-2 10.0.0.112:80 id 108 check inter 1000  send-proxy-v2

backend k3s-api_ipvANY
	mode			tcp
	id			104
	log			global
	balance			roundrobin
	timeout connect		30000
	timeout server		30000
	retries			3
	option			httpchk OPTIONS /ping 
	server			k3s-server-1 10.0.0.5:6443 id 101 check-ssl check inter 1000  verify none 
	server			k3s-server-2 10.0.0.102:6443 id 102 check-ssl check inter 1000  verify none 
	server			k3s-server-3 10.0.0.103:6443 id 103 check-ssl check inter 1000  verify none 

backend k3s-gitlab-registry_ipvANY
	mode			tcp
	id			107
	log			global
	balance			roundrobin
	timeout connect		30000
	timeout server		30000
	retries			3
	option			httpchk OPTIONS /ping 
	server			k3s-server-1 10.0.0.5:5050 id 101 check inter 1000  port 80 send-proxy-v2
	server			k3s-server-2 10.0.0.102:5050 id 102 check inter 1000  port 80 send-proxy-v2
	server			k3s-server-3 10.0.0.103:5050 id 103 check inter 1000  port 80 send-proxy-v2
	server			k3s-worker-1 10.0.0.111:5050 id 106 check inter 1000  port 80 send-proxy-v2
	server			k3s-worker-2 10.0.0.112:5050 id 109 check inter 1000  port 80 send-proxy-v2



