# Automaticaly generated, dont edit manually.
# Generated on: 2022-11-02 12:04
global
	maxconn			1000
	stats socket /tmp/haproxy.socket level admin  expose-fd listeners
	uid			80
	gid			80
	nbproc			1
	nbthread			1
	hard-stop-after		15m
	chroot				/tmp/haproxy_chroot
	daemon
	tune.ssl.default-dh-param	2048
	server-state-file /tmp/haproxy_server_state

frontend okd-ingress
	bind			10.0.0.100:80 name 10.0.0.100:80
	mode			tcp
	log			global
	timeout client		30000
	default_backend okd-ingress_ipvANY

frontend okd-machine-config
	bind			10.0.0.100:22623 name 10.0.0.100:22623
	mode			tcp
	log			global
	timeout client		30000
	default_backend okd-machine-config_ipvANY

frontend okd-api
	bind			10.0.0.100:6443 name 10.0.0.100:6443
	mode			tcp
	log			global
	timeout client		30000
	default_backend okd-api_ipvANY

frontend okd-ingress-ssl
	bind			10.0.0.100:443 name 10.0.0.100:443
	mode			tcp
	log			global
	timeout client		30000
	default_backend okd-ingress-ssl_ipvANY

backend okd-ingress_ipvANY
	mode			tcp
	id			100
	log			global
	balance			roundrobin
	timeout connect		30000
	timeout server		30000
	retries			3
	server			worker-1 10.0.0.111:80 id 101 check inter 1000  send-proxy-v2
	server			worker-2 10.0.0.112:80 id 106 check inter 1000  send-proxy-v2
	server			worker-3 10.0.0.113:80 id 109 check inter 1000  send-proxy-v2
	server			worker-4 10.0.0.114:80 id 105 check inter 1000  send-proxy-v2
	server			worker-5 10.0.0.115:80 id 111 check inter 1000  send-proxy-v2
	server			worker-6 10.0.0.116:80 id 112 check inter 1000  send-proxy-v2

backend okd-machine-config_ipvANY
	mode			tcp
	id			102
	log			global
	balance			roundrobin
	timeout connect		30000
	timeout server		30000
	retries			3
	server			server-1 10.0.0.101:22623 id 101 check inter 1000
	server			server-2 10.0.0.102:22623 id 106 check inter 1000
	server			server-3 10.0.0.103:22623 id 109 check inter 1000
	server			bootstrap 10.0.0.104:22623 id 103 check inter 1000

backend okd-api_ipvANY
	mode			tcp
	id			104
	log			global
	balance			roundrobin
	timeout connect		30000
	timeout server		30000
	retries			3
	server			server-1 10.0.0.101:6443 id 101 check inter 1000
	server			server-2 10.0.0.102:6443 id 106 check inter 1000
	server			server-3 10.0.0.103:6443 id 109 check inter 1000
	server			bootstrap 10.0.0.104:6443 id 103 check inter 1000

backend okd-ingress-ssl_ipvANY
	mode			tcp
	id			110
	log			global
	balance			roundrobin
	timeout connect		30000
	timeout server		30000
	retries			3
	server			worker-1 10.0.0.111:443 id 101 check inter 1000  send-proxy-v2
	server			worker-2 10.0.0.112:443 id 106 check inter 1000  send-proxy-v2
	server			worker-3 10.0.0.113:443 id 109 check inter 1000  send-proxy-v2
	server			worker-4 10.0.0.114:443 id 105 check inter 1000  send-proxy-v2
	server			worker-5 10.0.0.115:443 id 107 check inter 1000  send-proxy-v2
	server			worker-6 10.0.0.116:443 id 108 check inter 1000  send-proxy-v2
