# cat promtail.te

module promtail 1.0;

require {
	type user_home_t;
	type unreserved_port_t;
	type init_t;
	type unlabeled_t;
	class file { execute execute_no_trans map open read };
	class tcp_socket name_connect;
	class dir add_name;
	type http_port_t;

}

#============= init_t ==============
allow init_t unlabeled_t:dir add_name;

#!!!! This avc is allowed in the current policy
allow init_t unreserved_port_t:tcp_socket name_connect;

#!!!! This avc is allowed in the current policy
allow init_t user_home_t:file { execute execute_no_trans map open read };

#!!!! This avc can be allowed using the boolean 'nis_enabled'
allow init_t http_port_t:tcp_socket name_connect;
