[Unit]
Description=Timeshift Mounting & Unmounting
Wants=zfs.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/bash -c 'mount /dev/zd0 /media/arthur/Timeshift'
ExecStop=/bin/bash -c 'umount /media/arthur/Timeshift'

[Install]
WantedBy=multi-user.target
