[user]
	email = arthur@arthurvardevanyan.com
	name = Arthur
[credential]
	helper = store
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[core]
	autocrlf = input
