global
    log         127.0.0.1 local2 info
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

defaults
    timeout connect         5s
    timeout client          30s
    timeout server          30s
    log                     global

frontend api
    bind 0.0.0.0:6443
    default_backend api
    mode tcp
    option tcplog

backend api
    balance source
    mode tcp
    server master-0 10.10.10.3:6443 check
    server master-1 10.10.10.4:6443 check
    server master-2 10.10.10.5:6443 check


frontend https
    bind 0.0.0.0:443
    default_backend https
    mode tcp
    option tcplog

backend https
    balance source
    mode tcp
    server master-0 10.10.10.3:443 check
    server master-1 10.10.10.4:443 check
    server master-2 10.10.10.5:443 check
    server worker-0 10.10.10.6:443 check
    server worker-1 10.10.10.7:443 check
    server worker-2 10.10.10.8:443 check
    server worker-3 10.10.10.9:443 check

frontend http
    bind 0.0.0.0:80
    default_backend http
    mode tcp
    option tcplog

backend http
    balance source
    mode tcp
    server master-0 10.10.10.3:80 check
    server master-1 10.10.10.4:80 check
    server master-2 10.10.10.5:80 check
    server worker-0 10.10.10.6:80 check
    server worker-1 10.10.10.7:80 check
    server worker-2 10.10.10.8:80 check
    server worker-3 10.10.10.9:80 check
