[Desktop Entry]
Type=Application
Exec=\sflatpak run com.discordapp.Discord --start-minimized
Hidden=false
NoDisplay=false
Name=Discord
Icon=/usr/share/discord/discord.png
Comment=Text and voice chat for gamers.
X-GNOME-Autostart-enabled=true
