[Desktop Entry]
Type=Application
Exec=\sflatpak run com.spotify.Client
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Spotify
Name=Spotify
Comment[en_US]=Spotify
Comment=Spotify
