[Desktop Entry]
Type=Application
Exec=/usr/bin/spotify --force-device-scale-factor=2
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Spotify
Name=Spotify
Comment[en_US]=Spotify
Comment=Spotify
