[Desktop Entry]
Type=Application
Exec=system76-power profile performance
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Power Profile
Name=Power Profile
Comment[en_US]=
Comment=
