global
    log         127.0.0.1 local2 info
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

defaults
    timeout connect         5s
    timeout client          30s
    timeout server          30s
    log                     global

frontend machine_config
    bind 0.0.0.0:22623
    default_backend machine_config
    mode tcp
    option tcplog

backend machine_config
    balance source
    mode tcp
    server bootstrap 10.10.10.9:22623 check
    server master-0 10.10.10.10:22623 check
    server master-1 10.10.10.11:22623 check
    server master-2 10.10.10.12:22623 check

frontend api
    bind 0.0.0.0:6443
    default_backend api
    mode tcp
    option tcplog

backend api
    balance source
    mode tcp
    server bootstrap 10.10.10.9:6443 check
    server master-0 10.10.10.10:6443 check
    server master-1 10.10.10.11:6443 check
    server master-2 10.10.10.12:6443 check

frontend https
    bind 0.0.0.0:443
    default_backend https
    mode tcp
    option tcplog

backend https
    balance source
    mode tcp
    server master-0 10.10.10.10:443 check send-proxy-v2
    server master-1 10.10.10.11:443 check send-proxy-v2
    server master-2 10.10.10.12:443 check send-proxy-v2
    server worker-0 10.10.10.20:443 check send-proxy-v2
    server worker-1 10.10.10.21:443 check send-proxy-v2
    server worker-2 10.10.10.22:443 check send-proxy-v2
    server worker-3 10.10.10.23:443 check send-proxy-v2

frontend http
    bind 0.0.0.0:80
    default_backend http
    mode tcp
    option tcplog

backend http
    balance source
    mode tcp
    server master-0 10.10.10.10:80 check send-proxy-v2
    server master-1 10.10.10.11:80 check send-proxy-v2
    server master-2 10.10.10.12:80 check send-proxy-v2
    server worker-0 10.10.10.20:80 check send-proxy-v2
    server worker-1 10.10.10.21:80 check send-proxy-v2
    server worker-2 10.10.10.22:80 check send-proxy-v2
    server worker-3 10.10.10.23:80 check send-proxy-v2
